h1,h2,h3,h4,h5 {
    font-family: "Farro", sans-serif;
}

p {
    font-family: "Radio Canada", sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #FBF5EE;
    color: #3F8EFC;
    flex-direction: column;
}

main {
    flex-grow: 1;
    min-height: 100vh;
}


/* ------------------- Header ---------------------- */
.navbar {
    position: sticky;
    top: 0;
}

#nav-title {
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 0;
}

#nav-title, #slogan {
    color: #FBF5EE;
    transition: 0.4s
}

#nav-title:hover, #slogan:hover {
    color: #0000a5
}

#slogan {
    padding-left: 35px;
}

.hidden {
    display:none;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-container {
    background-color: #3F8EFC;
}

.navbar-toggler {
    color: #FBF5EE;
    margin-bottom: 5px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(251,245,238,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
    font-size: larger;
    font-weight: 600;
    color: #FBF5EE;
    transition: 0.4s
}

.nav-link:hover {
    font-weight: 700;
    color: #0000a5;
}

.nav-link:current {
    font-weight: 700;
    color: #0000a5;
}

@media only screen and (max-width: 768px) {
    #slogan {
        display: none;
    }
}

/* ------------------- Content ---------------------- */
#content {
    padding: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 2px;
    margin: none;
}

.btn {
    background-color: #3F8EFC;
    color: #FBF5EE;
    margin: 5px;
    border: 2px solid #3F8EFC
}

.btn:hover {
    background-color: #FBF5EE;
    color: #3F8EFC !important;
    border: 2px solid #3F8EFC;
}

.card {
    background-color: #AAF0C1;
}

/* ------------------- Footer ---------------------- */
footer {
    background-color: #3F8EFC;
    color: #FBF5EE;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.footer-item {
    text-align: center;
    font-size: 15px;
}

#copyright {
    margin-bottom: 0;
}

/* this if a basic table, you can change if needed */

table {
  border-collapse: collapse; /* This is the most important part! It removes the ugly double-borders */
  width: 100%;               /* Optional: Makes the table take up the full width of its container */
}

th, td {
  border: 1px solid #dddddd; /* Adds a simple light-gray border */
  padding: 8px;              /* Gives your text some breathing room */
  text-align: left;          /* Aligns text to the left (browsers usually center 'th' by default) */
}

th {
  background-color: #f2f2f2; /* Adds a very light gray background to the header row so it stands out */
}
