h1,h2,h3,h4,h5 {
    font-family: "Farro", sans-serif;
}

p {
    font-family: "Radio Canada", sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #FBF5EE;
    color: #3F8EFC;
    flex-direction: column;
}

main {
    flex-grow: 1;
    min-height: 100vh;
}


/* ------------------- Header ---------------------- */
.navbar {
    position: sticky;
    top: 0;
}

#nav-title {
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 0;
}

#nav-title, #slogan {
    color: #FBF5EE;
    transition: 0.4s
}

#nav-title:hover, #slogan:hover {
    color: #0000a5
}

#slogan {
    padding-left: 35px;
}

.hidden {
    display:none;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-container {
    background-color: #3F8EFC;
}

.navbar-toggler {
    color: #FBF5EE;
    margin-bottom: 5px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(251,245,238,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
    font-size: larger;
    font-weight: 600;
    color: #FBF5EE;
    transition: 0.4s
}

.nav-link:hover {
    font-weight: 700;
    color: #0000a5;
}

/*---------------------------------------------------------------------- Add class to nav links when pages created-------*/
.nav-link-current {
    font-weight: 800;
}

@media only screen and (max-width: 768px) {
    #slogan {
        display: none;
    }
}

/* ------------------- Footer ---------------------- */
footer {
    background-color: #3F8EFC;
    color: #FBF5EE;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.footer-item {
    text-align: center;
    font-size: 15px;
}

#copyright {
    margin-bottom: 0;
}

